<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Osos bar</h1>
            <h3 class="mb-5">
                <em>El mejor lugar para pasarla bien</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Iniciar servicio
            </a>
        </div>
    </header>
</main>